In [3]:
import duckdb
import pandas as pd

In [5]:
sql_query = '''
SHOW tables
'''

with duckdb.connect('data/nyc_parking_violations.db') as con:
    display(con.sql(sql_query))

┌────────────────────────────────┐
│              name              │
│            varchar             │
├────────────────────────────────┤
│ bronze_parking_violation_codes │
│ bronze_parking_violations      │
│ first_model                    │
│ gold_ticket_metrics            │
│ gold_vehicles_metrics          │
│ parking_violation_codes        │
│ parking_violations_2023        │
│ ref_model                      │
│ silver_parking_violation_codes │
│ silver_parking_violations      │
│ silver_violation_tickets       │
│ silver_violation_vehicles      │
├────────────────────────────────┤
│            12 rows             │
└────────────────────────────────┘

In [6]:
from clickhouse_driver import Client

In [7]:
client = Client(host='localhost', port=9000, user='default', password='')

In [ ]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS
SELECT *
FROM read_csv_auto(
  'data/dof_parking_violation_codes.csv',
  normalize_names=True
  )
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violations_2023 AS
SELECT *
FROM read_csv_auto(
  'data/parking_violations_issued_fiscal_year_2023_sample.csv',
  normalize_names=True
  )
'''

client.execute(sql_query_import_1)
client.execute(sql_query_import_2)